body
{
	margin: 0;
	color: #09323c;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	text-align: left;
	padding: 0;
	color: #198C97;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom : 1px solid #D2E8EA;
	margin: 0;
	background-color: white;
	margin-bottom: 10px;
}

.home
{
	position: relative;
	background-color: #09333a;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.top
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	margin:0;
}

.top .menu .left
{
	display: inline-block;
	position: absolute;
	left: 0;
	right: 50%;
	text-align: right;
	margin-right: 140px;
}

.top .menu .center
{
	display: inline-block;
	margin: auto;
	vertical-align: top;
}

.top .menu .right
{
	display: inline-block;
	position: absolute;
	left: 50%;
	right: 0;
	text-align: left;
	margin-left: 140px;
}

.top .menu
{
	text-align: center;
	width: 100%;
	height: 40px;
	margin: auto;
	background-color: #198c97;
	font-size: 0;
	border-bottom: 2px solid #fbfaf6;
}

.menu .menu-item
{
	color: #fcfdf7;
	display: inline-block;
}

.menu .menu-item.menu-home
{
	display: none;
}

.menu .menu-item a
{
	color: #fcfdf7;
	font-family: "Titillium Web", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 40px;
	padding: 0 20px;
	display: block;
	height: 40px;
}

.top .menu .badge a
{
	height: 199px;
	width: 276px;
	background-image: url('../images/badge.png');
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	font-size: 0;
}

body .top .menu .badge a .logo
{
    background-image: url('../images/badge_logo.png');
    height: 100px;
    width: 130px;
    margin: auto;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 25px 20px;
}

body .top .menu .badge a .mf
{
	background-image: url('../images/badge_mf.png');
	height: 58px;
	width: 210px;
	margin: auto;
	background-size: 210px;
	background-repeat: no-repeat;
	margin-top: -18px;
}

body .top .menu .badge a .uf
{
    background-image: url('../images/badge_uf.png');
    height: 24px;
    width: 140px;
    margin: auto;
    background-size: 140px;
    background-repeat: no-repeat;
    margin-top: -5px;
}

.show_home .top .menu .badge a .uf {
	opacity: 1;
}

body.show_club .top .menu .badge,
body.show_news .top .menu .badge,
body.show_training .top .menu .badge,
body.show_contact .top .menu .badge
{
	-webkit-animation: badge_folding 0.8s linear 1 normal;
	-moz-animation: badge_folding 0.8s linear 1 normal;
	-ms-animation: badge_folding 0.8s linear 1 normal;
	-o-animation: badge_folding 0.8s linear 1 normal;
	animation: badge_folding 0.8s linear 1 normal; /* this comes last */
    margin-top: -100px;
}

body.show_home .top .menu .badge
{
	-webkit-animation: badge_unfolding 0.8s linear 1;
	-moz-animation: badge_unfolding 0.8s linear 1;
	-ms-animation: badge_unfolding 0.8s linear 1;
	-o-animation: badge_unfolding 0.8s linear 1;
	animation: badge_unfolding 0.8s linear 1; /* this comes last */
	margin-top: 0;
}

@keyframes badge_folding {
	from {
		margin-top: 0;
	}
	to {
		margin-top: -100px;
	}
}

@keyframes badge_unfolding {
	from {
		margin-top: -100px;
	}
	to {
		margin-top: 0;
	}
}

body.show_club .top .menu .badge .uf,
body.show_news .top .menu .badge .uf,
body.show_training .top .menu .badge .uf,
body.show_contact .top .menu .badge .uf
{
	-webkit-animation: hide 0.8s linear 1 normal;
	-moz-animation: hide 0.8s linear 1 normal;
	-ms-animation: hide 0.8s linear 1 normal;
	-o-animation: hide 0.8s linear 1 normal;
	animation: hide 0.8s linear 1 normal; /* this comes last */
    opacity: 0;
}

body.show_home .top .menu .badge .uf
{
	-webkit-animation: show 0.8s linear 1 normal;
	-moz-animation: show 0.8s linear 1 normal;
	-ms-animation: show 0.8s linear 1 normal;
	-o-animation: show 0.8s linear 1 normal;
	animation: show 0.8s linear 1 normal; /* this comes last */
    opacity: 1;
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body.show_club .top .menu .badge .mf,
body.show_news .top .menu .badge .mf,
body.show_training .top .menu .badge .mf,
body.show_contact .top .menu .badge .mf
{
	-webkit-animation: move_mr_friz 0.8s linear 1 normal;
	-moz-animation: move_mr_friz 0.8s linear 1 normal;
	-ms-animation: move_mr_friz 0.8s linear 1 normal;
	-o-animation: move_mr_friz 0.8s linear 1 normal;
	animation: move_mr_friz 0.8s linear 1 normal; /* this comes last */
    margin-top: 4px;
}

body.show_home .top .menu .badge .mf
{
	-webkit-animation: move_back_mr_friz 0.8s linear 1 normal;
	-moz-animation: move_back_mr_friz 0.8s linear 1 normal;
	-ms-animation: move_back_mr_friz 0.8s linear 1 normal;
	-o-animation: move_back_mr_friz 0.8s linear 1 normal;
	animation: move_back_mr_friz 0.8s linear 1 normal; /* this comes last */
    margin-top: -18px;
}

@keyframes move_mr_friz {
	from {
		margin-top: -18px;
	}
	to {
		margin-top: 4px;
	}
}

@keyframes move_back_mr_friz {
	from {
		margin-top: 4px;
	}
	to {
		margin-top: -18px;
	}
}

.menu .menu-item:hover
{
	border-bottom: solid 2px #537075;
}

.show_training .menu .menu-item.menu-training,
.show_news .menu .menu-item.menu-news,
.show_club .menu .menu-item.menu-club,
.show_contact .menu .menu-item.menu-contact
{
	border-bottom: solid 2px #537075;
}

.bottom
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 98px;
	background-color: #198c97;
	text-align: center;
}

.bottom .logo
{
	background-image: url('../images/bottom.png');
	height: 61px;
	width: 151px;
	margin-top: 18px;
	margin-left: 15px;
	margin-right: 15px;
	background-size: contain;
	background-repeat: no-repeat;
    display: inline-block;
}

.bottom .facebook,
.bottom .twitter,
.bottom .youtube,
.bottom .email
{
	display: block;
	width: 32px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 32px;
    display: inline-block;
    color: white;
    cursor: pointer;
    vertical-align: top;
    padding: 20px 20px;
    text-decoration: none;
}

@keyframes socials {
    from {
    	background-color: transparent;
    	color: white;
    }
    to {
    	background-color: white;
    	color: #083239;
    }
}

.bottom .facebook:hover,
.bottom .twitter:hover,
.bottom .youtube:hover,
.bottom .email:hover
{
	animation-name: socials;
    animation-duration: 0.5s;
    background-color: white;
	color: #083239;
}

.section
{
	position: relative;
}

a
{
	font-size: 20px;
}

.section .content .block_news
{
	background-color: #fbfaf6;
	width: 500px;
	height: 612px;
	margin: auto;
}

.section .content .block1 .line
{
	height: 200px;
	width: 560px;
	padding: 20px;
}

.section .content .block1 .line .photo
{
	background-image: url('../images/fab1.jpg');
	width: 200px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.section .content .block1 .line .photo2
{
	background-image: url('../images/all.jpg');
	width: 200px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.section .content .block1 .line .text
{
	display: inline-block;
	width: 300px;
	padding: 20px;
}

.home
{
	background-image: url('../images/home.jpg');
    background-size: cover;
	background-position: center top;
    background-repeat: no-repeat;
}

.news
{
	background-image: url('../images/Site_Mrfriz_fond3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #09333a;
}

.section.news .bloc
{
    max-width: 500px;
	margin: auto;
	background-color: white;
	padding: 20px 40px 40px 40px;
	position: relative;
	margin-top: -60px;
	vertical-align: top;
}

.section.news .bloc .link_facebook
{
	display: none;
}

.club
{
	background-image: url('../images/Site_Mrfriz_fond2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.club .bloc
{
	max-width: 800px;
	margin: auto;
	background-color: white;
	padding: 20px 40px 40px 40px;
	position: relative;
	margin-top: -60px;
	vertical-align: top;
}

.club .bloc .photo_1
{
	background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    display: inline-block;
}

.club .bloc .photo_2
{
	background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    display: inline-block;
}

.club .bloc p
{
	margin:0;
	margin-bottom: 10px;
	margin-left: 20px;
	text-align: justify;
    display: inline-block;
	width: 470px;
    vertical-align: top;
    line-height: 1.5em;
}

.training
{
	background-image: url('../images/Site_Mrfriz_fond4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.training .bloc
{
	max-width: 800px;
	margin: auto;
	background-color: white;
	padding: 20px 40px 40px 40px;
	position: relative;
	margin-top: -60px;
	vertical-align: top;
}

.training .bloc .inner_bloc
{
	position: relative;
	height: 100%;
	min-height: 500px;
}

.training .bloc .map_container
{
	position: absolute;
	top: 61px;
	bottom: 0;
	left: 0;
	right: 0;
}

.training .bloc .map_container iframe
{
	border : none;
}

.training .bloc .button.link_gmap
{
	display: none;
}

.contact 
{
	background-image: url('../images/Site_Mrfriz_fond3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.section.contact .bloc 
{
	max-width: 800px;
	margin: auto;
	background-color: white;
	padding: 20px 40px 40px 40px;
	position: relative;
	margin-top: -60px;
	vertical-align: top;
	position: relative;
}

.contact a
{
	text-decoration: underline;
	color: #198C97;
}

a.button
{
	background-color: #198C97;
	padding: 0 10px;
	color: white;
    display: block;
    text-decoration: none;
    line-height: 40px;
}

a.button.facebook {
	background-color: #3B5998;
}

a.button.twitter {
	background-color: #54ABEE;
}

a.button i
{
	padding: 0 10px;
}

.contact .bloc .left
{
	width: 200px;
}

.section.contact .right
{
	position: absolute;
	left: 380px;
	right: 120px;
	top: 140px;
	bottom: 140px;
}

.contact .bloc .logo
{
	background-image: url('../images/contact_logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 900px) {

	body {

	}

	.top .menu {
		height: auto;
	}

	.top .menu .center {
		display: none;
	}

	.top .menu .left,
	.top .menu .right {
		position: inherit;
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.menu .menu-item.menu-home {
		display: inline-block;
	}

	.top .menu .menu-item {
		width: 100%;
	}

	.menu .menu-item a {
		height: 25px;
		font-size: 14px;
		line-height: 25px;
	}

	.top .menu .menu-item:hover {
		border: none;
	}

	.top .menu .center {
		position: absolute;
		top: 100px;
		height: 100px;
		left: 50%;
		overflow: hidden;
		margin-left: -137.5px;
	}

	.show_home .menu .menu-item.menu-home,
	.show_training .menu .menu-item.menu-training,
	.show_news .menu .menu-item.menu-news,
	.show_club .menu .menu-item.menu-club,
	.show_contact .menu .menu-item.menu-contact
	{
		background-color: #1A9CA9;
		border: none;
	}

	.section.club .bloc,
	.section.training .bloc,
	.section.contact .bloc {
		overflow-y: auto;
		position: absolute;
		top: 140px;
		bottom: 80px;
		margin: 20px;
		left: 20px;
		right: 20px;
		text-align: center;
	}

	.bottom {
		height: 68px
	}

	.bottom .logo {
		display: none;
	}	

	.club .bloc .photo_1
	{
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.club .bloc .photo_2
	{
		display: none;
	}

	.club .bloc p
	{
		width: auto;
		margin-left: 0;
	}

	.section.news .bloc {
		position: absolute;
		top: 140px;
		bottom: 80px;
		margin: 20px;
		left: 20px;
		right: 20px;
	}

	.section.news .fb-page
	{
		width: 100%;
		display: block;
	}

	.section.contact .bloc {
		text-align: left;
	}

	.section.contact .bloc .right {
		display: none;
	}

	.training .bloc .inner_bloc {
		min-height: auto;
	}

	.news .bloc .fb-page
	{
		display: none;
	}

	.section.news .bloc .link_facebook
	{
		display: block;
		margin: auto;
		text-align: center;
		margin-top: 40px;
	}

	.training .bloc .map_container
	{
		display: none;
	}

	.training .bloc .button.link_gmap
	{
		display: block;
		width: auto;
		margin-top: 40px;
	}

	.club .bloc .photo_1,
	.club .bloc .photo_2
	{
		display: none;
	}

	.section.news .bloc
	{
		max-width: none;
	}


}

@media screen and (max-width: 500px) {
	h2
	{
		font-size: 14px;
	}

	.section.club .bloc,
	.section.training .bloc,
	.section.news .bloc,
	.section.contact .bloc
	{
		padding:20px;
	}

	.club .bloc p
	{
		text-align: left;
	}
	
}

.langs
{
	position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -6px;
}

.langs a
{
	width: 24px;
	height: 12px;
	display: inline-block;
	transition: all 0.2s;
	border: #198c97 solid 6px;
}

.langs a:hover
{
	border: #fbfaf6 solid 6px;
}

.langs .en
{
	background-image: url('../images/flags/en.png');
}

.langs .de
{
	width: 20px;
	background-image: url('../images/flags/de.png');
}

.langs .es
{
	width: 18px;
	background-image: url('../images/flags/es.png');
}