body
{
	margin: 0;
	color: #09323c;
	font-family: Arial;
}

.main 
{
	position: relative;
	background-image: url('../images/b4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.top
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	margin:0;
}

.top .menu .left
{
	display: inline-block;
	position: absolute;
	left: 0;
	right: 50%;
	text-align: right;
	margin-right: 140px;
}

.top .menu .center
{
	display: inline-block;
	margin: auto;
}

.top .menu .right
{
	display: inline-block;
	position: absolute;
	left: 50%;
	right: 0;
	text-align: left;
	margin-left: 140px;
}

.top .menu
{
	text-align: center;
	width: 100%;
	height: 40px;
	margin: auto;
	background-color: #0c343c;
	font-size: 0;
	border-bottom: 5px solid #fcfdf7;
}

.menu .menu-item
{
	color: #fcfdf7;
	display: inline-block;
	height: 40px;
	padding: 0 20px;
}

.menu .menu-item a
{
	color: #fcfdf7;
	font-family: "Titillium Web", sans-serif;
	text-decoration: none;
}

.top .menu .logo a
{
	height: 200px;
	width: 263px;
	background-image: url('../images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	font-size: 0;
}

.menu .menu-item:hover
{
	border-bottom: solid 6px #1A8C96;
}

.menu .menu-item.selected
{
	border-bottom: solid 6px #536f7b;
}

.bottom
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #0c343c;
}

.bottom .logo 
{
	background-image: url('../images/bottom_logo.png');
	height: 80px;
	width: 120px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.section
{
	position: relative;
}

.section.club 
{
	background-color: blue;
}

.section.training 
{
	background-color: red;
}

.section.news 
{
	background-color: green;
}

.section.contact 
{
	background-color: purple;
}


.section.club
{
	background-color: #fbfaf6;
}

a 
{
	font-size: 20px;
}

.section .content
{
	width: 100%;
	height: 100%;
}

.section .content .block1
{
	background-color: #d2e4e4;
	width: 600px;
	height: 600px;
	margin: auto;
	margin-top: 300px;
}

.section .content .block1 .line
{
	height: 200px;
	width: 560px;
	padding: 20px;
}

.section .content .block1 .line .photo
{
	background-image: url('../images/fab1.jpg');
	width: 200px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.section .content .block1 .line .photo2
{
	background-image: url('../images/all.jpg');
	width: 200px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.section .content .block1 .line .text
{
	display: inline-block;
	width: 300px;
	padding: 20px;
}