<header>
    <div class="row">
        <div class="small-4 columns">
            <h1>MrFriz</h1>
        </div>
        <div class="small-8 columns">
            <dl class="right sub-nav">
                <dd><a href="/">Le Club</a></dd>
                <dd><a href="/ultimate.html">L'Ultimate</a></dd>
                <dd><a href="/entrainement.html">Entrainements</a></dd>
                <dd><a href="/actualite.html">Actualité</a></dd>
                <dd><a href="/contact.html">Contact</a></dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <h4 class="subheader">Le club d'ultimate frisbee rennais.</h4>
        </div>
    </div>
</header>